@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "AddUser";

}
</br></br>
<h3>Hello @ViewData["UserMessage"]!</h3>


