@{
    //ViewData["Title"] = "AddUser";
    ViewBag.Title = "AddUser";

}
</br></br>

<@*h3>Hello @ViewBag.UserMessage !</h3>
</br></br>
<div class="alert alert-success">
    <strong>Success!</strong> Hello  , thank you for registering.
</div></br></br>*@


                                                                                                                                                                              