@{
    //ViewData["Title"] = "Home Page";
    ViewBag.Title = "Home Page";
}
<br /><br />
<br /><br />
<h1>Welcome to C# .NET! <a href="/Home/Register"> Click here to register!</a></h1>
<br /><br />
<img src="/images/bitmoji_fireprayer.png" alt="it's lit fam" />
<br /><br />


