@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
}
<br />
<h2>Please fill out the form to register for GC Coffee Shop Rewards!</h2><br /><br />

@*If you’re wondering what the __RequestVerificationToken is, this is a neat way to reduce the 
risk of your application being duped by a cross site request forgery attack.*@

<form action="/Home/AddUser" method="post">
    <label for="FirstName">First Name: </label>
    <input name="__RequestVerificationToken" type="hidden" value="<token_generated_here>">
    </br></br>
    <label for="LastName">Last Name: </label>
    <input placeholder="Doe" type="text" id="lastName" name="lastName" value="">
    <input name="__RequestVerificationToken" type="hidden" value="<token_generated_here>">
    </br></br>
    <label for="Email">Email: </label>
    <input placeholder="example@email.com" type="text" id="email" name="email" value="">
    <input name="__RequestVerificationToken" type="hidden" value="<token_generated_here>">
    </br></br>
    <label for="PhoneNumber">Phone Number: </label>
    <input placeholder="000-000-0000" type="text" id="phoneNumber" name="phoneNumber" value="">
    <input name="__RequestVerificationToken" type="hidden" value="<token_generated_here>">
    </br></br>
    <label for="Password">Password: </label>
    <input type="password" id="password" name="password" value="">
    <input name="__RequestVerificationToken" type="hidden" value="<token_generated_here>">
    </br></br>
    <input type="submit" value="Register">
</form>

@*<div class="registrationForm">
        <label>First Name: </label> <input type="text" name="firstName" />
        </br>
        </br>
        <label>Last Name: </label> <input type="text" name="lastName" />
        </br>
        </br>
        <label>Email: </label> <input type="text" name="email" />
        </br>
        </br>
        <Label>Phone Number: </Label> <input type="text" name="phoneNumber" />
        </br>
        </br>
        <label>Password: </label> <input type="password" name="password" />
        </br>
        </br>
        <input type="submit" value="Register" id="register" />
    </div>*@