@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Register";
}
<br />
<h2>Please fill out the form to register for GC Coffee Shop Rewards!</h2><br /><br />


<form class="form-horizontal" action="/Home/AddUser" method="post">
    <div class="form-group">
        <label class="control-label col-sm-2" id="firstName">First Name:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="firstName" placeholder="John" pattern="[a-zA-Z]{1}[a-zA-Z]{1,}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" id="lastName">Last Name:</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="lastName" placeholder="Doe" pattern="[a-zA-Z]{1}[a-zA-Z]{1,}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" id="email">Email:</label>
        <div class="col-sm-7">
            <input type="email" class="form-control" id="email" placeholder="example@email.com"> <!--pattern="\w+([-+.]\w+)*"atSign""\w+([-.]\w+)*\.\w+([-.]\w+)*" -->
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" id="phoneNum">Phone Number:</label>
        <div class="col-sm-7">
            <input type="tel" class="form-control" id="phoneNum" placeholder="000-000-0000" pattern="\d{3}-\d{3}-\d{4}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" id="pwd">Password:</label>
        <div class="col-sm-7">
            <input type="password" class="form-control" id="pwd" placeholder="Enter password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-7">
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-7">
            <button onclick="myFunction()" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Register</button>
        </div>
    </div>
</form>
