/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

    color: black;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.progress {
    cursor: progress;
}

#myDiv {
    width: 300px;
    height: 200px;
    background-color: gainsboro;
    background-image: url(/../images/matrix-1274888_960_720.png);
    -webkit-animation: wavybby 5s infinite;
    animation: wavybby 5s infinite;
    background-repeat-y: no-repeat;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes wavybby {
    0% {
        background-color: violet;
    }

    20% {
        background-color: blueviolet;
    }

    40% {
        background-color: dodgerblue;
    }

    60% {
        background-color: mediumseagreen;
    }

    80% {
        background-color: greenyellow;
    }

    100% {
        background-color: gainsboro;
    }
}
